<html lang="en">
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../styles/homepage.css">
</head>

<body>
<div class="container-fluid bg-danger" >

  <div class="row">
    <div class="col-md-12" align="center">
      <h2>MONSTER MATCH</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" align="center"><h2>Navbar</h2></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-4"><h2>NAME</h2></div>
    <div class= "col-md-8" id="Match"><h2>MATCH</h2></div>
  </div>

</div>

</body>
</html>

