<div class="container-fluid bg-danger ", id="homepage" >

  <div class="row">
    <div class="col-md-12" align="center" id="navbar">
    <nav class="navbar navbar-default bg-danger">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li>
            <input class="btn btn-danger" id="homeButton" type="button" value="Home">
          </li>
          <li>
            <input class="btn btn-danger" id="logoutButton" type="button" value="Logout">
          </li>
        </ul>
      </div>
    </nav>
    </div>
  </div>

  <div class="row" id="homePageDiv">
    <div class="col-md-2 sideCols1"></div>

    <div class= "col-md-8" id="Match">
      <h2 id="hauntSoft">Haunting me softly...</h2>
      <div class="row">


        {{#each users}}
        <div class="col-md-4 col-md-offset-4">
            <h2 class="profile">{{username}}</h2>
            <h3 class="profile">{{monsterType}}</h3>
            <img class="profile" src={{imageURL}} id="allUserPics">
            <p class="hauntButton profile"> 
            Haunt 
            <img class="hauntButton profile img-circle img-responsive" id="hauntID#{{@key}}" src="../images/nothaunted.png" alt="not haunted">
            </p>
            <hr id="break">
        </div>
        {{/each}}

    </div>
    <div class="col-md-2 sideCols2"></div>
  </div>

</div>



