<div class="container-fluid bg-primary" >

  <div class="row">
    <div class=" .col-md-12">Logo will go</div>
  </div>
  <div class="row">
    <div class=".col-md-1"></div>
    <div class=".col-md-10"></div>
    <div class=" .col-md-1"></div>
  </div>
  <div class="row">
    <div class=" .col-md-4">NAME</div>
    <div class= ".col-md-8">MATCH</div>
  </div>

</div>
