<div class="container-fluid bg-danger ", id="homepage" >

  <div class="row">
    <div class="col-md-12" align="center">
      <h2>MONSTER MATCH</h2>
      <h3>Find Your Beauty and Beast rolled into one! narf</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" align="center" id="navbar">
    <nav class="navbar navbar-default bg-danger">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li>
            <input class="btn btn-default" id="homeButton" type="button" value="Home">
          </li>
          <li>
            <input class="btn btn-default" id="logoutButton" type="button" value="Logout">
          </li>
        </ul>
      </div>
    </nav>
    </div>
    <div class="col-md-1"></div>
  </div><!--row end-->

  <div class="row">
    <div class="col-md-1"></div>
    <div class= "col-md-10" id="Match"><h2>MATCH</h2>
        {{#each users}}
          <h2>{{email}}</h2>
          <img src={{imageURL}} id="allUserPics">
        {{/each}}
    </div>
    <div class="col-md-1"></div>
  </div>

</div>



