<form>
  <div class="emailUsername">
    <label for="InputEmail1/Username">Email address/ Username</label>
    <input type="email/username" class="emailUsername" id="inputEmail1/Username" placeholder="Email/Useranme">
  </div>
  <div class="password">
    <label for="inputPassword1">Password</label>
    <input type="password" class="password" id="inputPassword" placeholder="Password">
  </div>
    <div class="form-group">
    
    
  </div>
  <div class="checkbox">
    
  </div>
  <button type="login" class="btn btn-default" id="login" >Login</button>
  <button type="Register" class="btn btn-default" id="register">Register</button>

</form> 