<div>
  <form>
    <div class="emailUsername">
      <label for="InputEmail1/Username">Email address/ Username</label>
      <input type="email/username" class="emailUsername" id="loginUsername" placeholder="Email/Username">
    </div>
    <div class="password">
      <label for="inputPassword1">Password</label>
      <input type="password" class="password" id="loginPassword" placeholder="Password">
    </div>
      <div class="form-group">


    </div>
    <div class="checkbox">

    </div>

  </form>
  <button type="login" class="btn btn-default" id="loginButton" >Login</button>
  <button type="Register" class="btn btn-default" id="registerButton">Register</button>
</div>