h1 {
	text-align: center;
	font-size: 500%;
}

.form-control {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 250%;
}

.input-group {
	text-align: center;
	display: block;
	margin: 0 auto;
}

#register-button {
	display: block;
	margin: 0 auto;
}

.monsterLabel {
	font-size: 40px !important;
}